@media all
{
	html
	{
		overflow-y: hidden !important;
	}

		#wrapper
		{
			-webkit-filter: blur(1em);
			filter: blur(1em);
		}

			#overlay_product > div
			{
				padding: 3em;
				text-align: center;
				min-width: 400px;
			}

				#overlay_product > div > *:not(:last-child)
				{
					margin-bottom: 2rem;
				}

					#overlay_product > div > *:not(:last-child) a.button
					{
						margin: 0;
					}
}