@media all
{
	html
	{
		overflow-y: hidden;
	}

		#wrapper
		{
			-webkit-filter: blur(1em);
			filter: blur(1em);
		}

		#overlay_product
		{
			background: #000;
			background: rgba(0, 0, 0, .5);
			bottom: 0;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 100000;
		}

			#overlay_product > div
			{
				background: #fff;
				border-radius: .5em;
				font-size: 1.5em;
				left: 50%;
				padding: 1em;
				position: absolute;
				top: 50vh;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				width: 400px;
				max-width: 90%;
			}
}