.widget.webshop_cart .cart_products td > span
{
	padding-left: .4em;
}

.widget.webshop_cart .cart_products .mf_form_field[inputmode='numeric']
{
	margin-bottom: 0;
	padding-top: .1em;
	padding-bottom: .1em;
	max-width: 4em;
}

	.widget.webshop_cart .cart_products .mf_form_field[inputmode='numeric'] + *
	{
		margin-left: .5em;
	}

.widget.webshop_cart .card_details
{
	margin-bottom: .8em;
}

	.widget.webshop_cart .toggle_card .card_details
	{
		background: rgba(255, 255, 255, .9);
		border: .1em solid #e1e1e1;
		font: inherit;
		padding: .4em;
	}