.webshop_cart_icon
{
	color: #fff;
	opacity: .7;
	position: fixed;
	right: 0;
	top: 8em;
	text-shadow: 0 0 .4em #000;
	transition: all .5s ease;
	width: 3em;
}

	.webshop_cart_icon:hover
	{
		opacity: 1;
		transform: scale(1.2);
	}