@media all
{
	.page-template-template_admin .admin_container .meta_box .form_children > ul > li
	{
		list-style: none;
		margin: 0 -.5em;
		padding: .8em .5em;
	}

		.page-template-template_admin .admin_container .meta_box .form_children > ul > li h3
		{
			display: none;
		}

		.page-template-template_admin .admin_container .meta_box .form_children > ul > li:nth-child(2n + 1)
		{
			background: #f3f3f3;
		}

		.page-template-template_admin .admin_container .meta_box .form_children > ul > li:last-of-type
		{
			background: #fff8df;
		}

			.page-template-template_admin .admin_container .meta_box .form_children > ul > li:last-of-type h3
			{
				display: block;
			}

		.page-template-template_admin .admin_container .meta_box .form_children > ul > li > div:last-of-type textarea
		{
			margin-bottom: 0;
		}
}