.webshop_cart_icon
{
	color: #fff;
	opacity: .7;
	position: fixed;
	right: .3em;
	top: 12em;
	text-decoration: none;
	transition: all .5s ease;
	width: 3em;
}

	.webshop_cart_icon:hover
	{
		opacity: 1;
		transform: scale(1.2);
	}

	.webshop_cart_icon i
	{
		text-shadow: 0 0 .4em rgba(0, 0, 0, .9);
	}

	.webshop_cart_icon svg
	{
		width: 2em;
	}

	.webshop_cart_icon div
	{
		background: #0a0;
		border-radius: 50%;
		font-size: .7em;
		height: 1.5em;
		position: absolute;
		top: -.4em;
		right: .8em;
		text-align: center;
		transition: all .25s ease;
		width: 1.5em;
	}

	.webshop_cart_icon.updating div
	{
		transform: rotate(1440deg);
	}