.widget.webshop_search form #search_text
{
	margin: 0;
}

.webshop_search .grid_columns > li.loading
{
	padding: 2em;
	text-align: center;
}

	.webshop_search .grid_columns > li > ul
	{
		margin-top: .5em;
	}

	.webshop_search .grid_columns > li > ul
	{
		color: #4a4a4a;
		list-style: none;
	}

		.webshop_search .grid_columns > li > ul li a
		{
			border: 0;
			padding: 0;
		}

		.webshop_search .grid_columns .product_meta
		{
			list-style: inside;
			padding: 0;
		}

		.webshop_search .grid_columns .product_meta strong
		{
			display: inline-block;
			margin-right: .5em;
		}

			.webshop_search .grid_columns > li li > span:first-child
			{
				margin-right: 2%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

				.webshop_search .grid_columns li.type_text span:first-child
				{
					font-weight: bold;
				}

		.webshop_search .grid_columns .read_more_button
		{
			margin-top: .5em;
		}
