.widget.webshop_cart .cart_products .mf_form_field[type='number']
{
	max-width: 4em;
}

.widget.webshop_cart .card_details
{
	margin-bottom: .8em;
}

	.widget.webshop_cart .toggle_card .card_details
	{
		background: rgba(255, 255, 255, .9);
		border: .1em solid #e1e1e1;
		font: inherit;
		padding: .4em;
	}